#root {
  max-width: 1880px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #ecdede;
  color: #333;
}

h1 {
  color: #007bff;
}

input[type="text"],
textarea {
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
}

.completed {
  text-decoration: line-through;
  color: #888;
}

.completed-colored {
  color: green;
}

/* Farbe für NICHT erledigte Aufgaben */
ul li {
  border-bottom: 1px solid #eee;
  background-color: #fff;
  color: green;
  list-style: none;
}

/* Farbe und Stil für ERLEDIGTE Aufgaben */
.completed {
  text-decoration: line-through;
  color: red;
}

.deadline {
  color: #555;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
  }
}

/* Dunkles Farbschema */
.dark-mode body {
  background-color: #1e1e1e;
  color: #d4d4d4;
}

.dark-mode h1 {
  color: #6dd5ed;
}

.dark-mode input[type="text"],
.dark-mode textarea {
  border: 1px solid #555;
  background-color: #333;
  color: #d4d4d4;
}

.dark-mode button {
  background-color: #6dd5ed;
  color: #705555; /* Deine Farbe für Button im Dark Mode */
}

.dark-mode button:disabled {
  background-color: #555;
  color: #999;
}

.dark-mode ul li {
  border-bottom: 1px solid #555;
  background-color: #525151; /* Deine Farbe für ul li im Dark Mode */
  color: lightgreen; /* Farbe für NICHT erledigte Aufgaben im dunklen Modus */
}

.dark-mode .completed {
  color: #ff6961; /* Farbe für erledigte Aufgaben im dunklen Modus (helleres Rot) */
}

.dark-mode ul li.completed {
  color: #e2d1d1; /* Deine Farbe für erledigte ul li im Dark Mode */
}

.dark-mode .deadline {
  color: #838383; /* Deine Farbe für Deadline im Dark Mode */
}

.read-the-docs {
  color: #888;
}

ul {
  list-style: none;
}

.recurring-options {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.recurring-options label {
  display: flex;
  gap: 10px;
  align-items: center;
}

.recurring-options input[type="number"],
.recurring-options input[type="date"],
.recurring-options select {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.dark-mode .recurring-options {
  border-color: #555;
  background-color: #333;
  color: #d4d4d4;
}

.dark-mode .recurring-options input[type="number"],
.dark-mode .recurring-options input[type="date"],
.dark-mode .recurring-options select {
  border-color: #777;
  background-color: #444;
  color: #d4d4d4;
}